<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljm.dao.StudentLocationMapper">
  <resultMap id="BaseResultMap" type="com.ljm.bean.StudentLocation">
    <id column="student_location_id" jdbcType="INTEGER" property="studentLocationId" />
    <result column="stu_academy" jdbcType="VARCHAR" property="stuAcademy" />
    <result column="stu_grade" jdbcType="VARCHAR" property="stuGrade" />
    <result column="stu_class" jdbcType="VARCHAR" property="stuClass" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    student_location_id, stu_academy, stu_grade, stu_class, student_id
  </sql>
  <select id="selectByExample" parameterType="com.ljm.bean.StudentLocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_location
    where student_location_id = #{studentLocationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_location
    where student_location_id = #{studentLocationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljm.bean.StudentLocationExample">
    delete from student_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljm.bean.StudentLocation">
    insert into student_location (student_location_id, stu_academy, stu_grade, 
      stu_class, student_id)
    values (#{studentLocationId,jdbcType=INTEGER}, #{stuAcademy,jdbcType=VARCHAR}, #{stuGrade,jdbcType=VARCHAR}, 
      #{stuClass,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ljm.bean.StudentLocation">
    insert into student_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentLocationId != null">
        student_location_id,
      </if>
      <if test="stuAcademy != null">
        stu_academy,
      </if>
      <if test="stuGrade != null">
        stu_grade,
      </if>
      <if test="stuClass != null">
        stu_class,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentLocationId != null">
        #{studentLocationId,jdbcType=INTEGER},
      </if>
      <if test="stuAcademy != null">
        #{stuAcademy,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljm.bean.StudentLocationExample" resultType="java.lang.Long">
    select count(*) from student_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student_location
    <set>
      <if test="record.studentLocationId != null">
        student_location_id = #{record.studentLocationId,jdbcType=INTEGER},
      </if>
      <if test="record.stuAcademy != null">
        stu_academy = #{record.stuAcademy,jdbcType=VARCHAR},
      </if>
      <if test="record.stuGrade != null">
        stu_grade = #{record.stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.stuClass != null">
        stu_class = #{record.stuClass,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student_location
    set student_location_id = #{record.studentLocationId,jdbcType=INTEGER},
      stu_academy = #{record.stuAcademy,jdbcType=VARCHAR},
      stu_grade = #{record.stuGrade,jdbcType=VARCHAR},
      stu_class = #{record.stuClass,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljm.bean.StudentLocation">
    update student_location
    <set>
      <if test="stuAcademy != null">
        stu_academy = #{stuAcademy,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        stu_grade = #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        stu_class = #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
    </set>
    where student_location_id = #{studentLocationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljm.bean.StudentLocation">
    update student_location
    set stu_academy = #{stuAcademy,jdbcType=VARCHAR},
      stu_grade = #{stuGrade,jdbcType=VARCHAR},
      stu_class = #{stuClass,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER}
    where student_location_id = #{studentLocationId,jdbcType=INTEGER}
  </update>
</mapper>