<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljm.dao.StudyResourceMapper">
  <resultMap id="BaseResultMap" type="com.ljm.bean.StudyResource">
    <id column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="publish_member_id" jdbcType="INTEGER" property="publishMemberId" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="resource_intr" jdbcType="VARCHAR" property="resourceIntr" />
    <result column="resource_link" jdbcType="VARCHAR" property="resourceLink" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    resource_id, resource_type, publish_member_id, publish_time, resource_intr, resource_link, 
    remark
  </sql>
  <select id="selectByExample" parameterType="com.ljm.bean.StudyResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from study_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from study_resource
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from study_resource
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljm.bean.StudyResourceExample">
    delete from study_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljm.bean.StudyResource">
    insert into study_resource (resource_id, resource_type, publish_member_id, 
      publish_time, resource_intr, resource_link, 
      remark)
    values (#{resourceId,jdbcType=INTEGER}, #{resourceType,jdbcType=VARCHAR}, #{publishMemberId,jdbcType=INTEGER}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{resourceIntr,jdbcType=VARCHAR}, #{resourceLink,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ljm.bean.StudyResource">
    insert into study_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="publishMemberId != null">
        publish_member_id,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="resourceIntr != null">
        resource_intr,
      </if>
      <if test="resourceLink != null">
        resource_link,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="publishMemberId != null">
        #{publishMemberId,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceIntr != null">
        #{resourceIntr,jdbcType=VARCHAR},
      </if>
      <if test="resourceLink != null">
        #{resourceLink,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljm.bean.StudyResourceExample" resultType="java.lang.Long">
    select count(*) from study_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update study_resource
    <set>
      <if test="record.resourceId != null">
        resource_id = #{record.resourceId,jdbcType=INTEGER},
      </if>
      <if test="record.resourceType != null">
        resource_type = #{record.resourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.publishMemberId != null">
        publish_member_id = #{record.publishMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.publishTime != null">
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resourceIntr != null">
        resource_intr = #{record.resourceIntr,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceLink != null">
        resource_link = #{record.resourceLink,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update study_resource
    set resource_id = #{record.resourceId,jdbcType=INTEGER},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      publish_member_id = #{record.publishMemberId,jdbcType=INTEGER},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      resource_intr = #{record.resourceIntr,jdbcType=VARCHAR},
      resource_link = #{record.resourceLink,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljm.bean.StudyResource">
    update study_resource
    <set>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="publishMemberId != null">
        publish_member_id = #{publishMemberId,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceIntr != null">
        resource_intr = #{resourceIntr,jdbcType=VARCHAR},
      </if>
      <if test="resourceLink != null">
        resource_link = #{resourceLink,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljm.bean.StudyResource">
    update study_resource
    set resource_type = #{resourceType,jdbcType=VARCHAR},
      publish_member_id = #{publishMemberId,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      resource_intr = #{resourceIntr,jdbcType=VARCHAR},
      resource_link = #{resourceLink,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where resource_id = #{resourceId,jdbcType=INTEGER}
  </update>
</mapper>